.skills-zone {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  flex-direction: start;
  max-height: 80%;
  
}

.skill {
  margin: 10px;
  padding: 18px;
  color: white;
  font-family: 'Helvetica Neue';
  border-radius: 3px;
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1s;
  width: fit-content;
  box-sizing: border-box;
  font-size: 1.8em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
